<html>
<head>
    <title>Crazy Game</title>
</head>
<body>



<form>
    Select a first age:
    <input type="radio" name="age1" value="90">Age 90
    <input type="radio" name="age1" value="25">Age 25
    <input type="radio" name="age1" value="60">Age 60

    Select a second age:
    <input type="radio" name="age2" value="42">Age 42
    <input type="radio" name="age2" value="112">Age 112
    <input type="radio" name="age2" value="21">Age 21

    Select a third age:
    <input type="radio" name="age3" value="19">Age 19
    <input type="radio" name="age3" value="37">Age 37
    <input type="radio" name="age3" value="48">Age 48


    

</form>


age
living
crime
adjective
verb
place
town
injury
bodypart
boy
object



</body>
</html>