<!doctype html>
<html>
<head>
  <title>Goodbye</title>
</head>
<body>
    Let's get started!
    <br>
    <form action="/madlib">
        Person:
        <select name="person">
            <option value="edwardcullen">Edward Cullen</option>
            <option value="bradpitt">Brad Pitt</option>
            <option value="michelleobama">Michelle Obama</option>
            <option value="tonyhawk">Tony Hawk</option>
            <option value="simonbiles">Simon Biles</option>
        </select>
        
        <br>

        Color:
        <input type="radio" name="color" value="pink">Pink    
        <input type="radio" name="color" value="goldenrod">Goldenrod    
        <input type="radio" name="color" value="gray">Gray    

        <p>Please enter a noun:</p>
        <div>
            <textarea name="noun"></textarea>
        </div>

        <br>

        Adjective:
        <select name="adjective">
            <option value="bubbly">Bubbly</option>
            <option value="brooding">Brooding</option>
            <option value="swollen">Swollen</option>
            <option value="charismatic">Charismatic</option>
            <option value="infected">Infected</option>
        </select>      
    
        <input type="submit">
    </form>
</body>
</html>